In [18]:
import csv
import pandas as pd
import configparser
import quandl as q
import eikon as ek

In [20]:
config = configparser.ConfigParser()
config.read('./pyalgo.cfg')
q.ApiConfig.api_key = config['quandl']['api_key']

ek.set_app_key(config['eikon']['api_key'])

2022-11-30 11:55:46,633 P[23292] [MainThread 175772] Error: no proxy address identified.
Check if Eikon Desktop or Eikon API Proxy is running.
2022-11-30 11:55:46,635 P[23292] [MainThread 175772] Error on handshake url http://127.0.0.1:None/api/handshake : UnsupportedProtocol("Request URL is missing an 'http://' or 'https://' protocol.")
2022-11-30 11:55:46,635 P[23292] [MainThread 175772] Error on handshake url http://127.0.0.1:None/api/handshake : UnsupportedProtocol("Request URL is missing an 'http://' or 'https://' protocol.")
2022-11-30 11:55:46,636 P[23292] [MainThread 175772] Port number was not identified, cannot send any request

In [13]:
fn = './data/AAPL2.csv'
with open(fn, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

In [14]:
csv_reader = csv.reader(open(fn, 'r'))
data = list(csv_reader)
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [15]:
csv_reader = csv.DictReader(open(fn, 'r'))
data = list(csv_reader)
data[:5]

# What's wrong with this? Seems fine to me.
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

In [17]:
data = pd.read_csv(fn, index_col=0, parse_dates=True)
data.info()
data.tail()

data['CLOSE'].mean()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

272.38619047619056

In [4]:
# This code needed to be updated to include the openpyxl package
# in order to write .xlsx files. .xls no longer supported in pandas
data.to_excel('./data/aapl.xlsx', 'AAPL')
data.to_json('./data/aapl.json')

NameError: name 'data' is not defined

In [6]:
data_copy_1 = pd.read_excel('./data/aapl.xlsx', 'AAPL', index_col=0)
data_copy_1.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
Date
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [7]:
data_copy_2 = pd.read_json('./data/aapl.json')
data_copy_2.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [12]:
data = q.get('BCHAIN/MKPRU')
data.info()
data['Value'].resample('A').last()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5081 entries, 2009-01-02 to 2022-11-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   5081 non-null   float64
dtypes: float64(1)
memory usage: 79.4 KB

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    16432.730000
Freq: A-DEC, Name: Value, dtype: float64

In [16]:
data = q.get('FSE/SAP_X', start_date='2018-1-1', end_date='2022-11-29')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2018-01-02 to 2020-12-01
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   408 non-null    float64
 1   High                   730 non-null    float64
 2   Low                    730 non-null    float64
 3   Close                  730 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          684 non-null    float64
 6   Turnover               684 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 62.7+ KB

In [17]:
vol = q.get('VOL/MSFT')
vol.iloc[:, :10].info()
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2015-01-02 to 2018-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hv10    1006 non-null   float64
 1   Hv20    1006 non-null   float64
 2   Hv30    1006 non-null   float64
 3   Hv60    1006 non-null   float64
 4   Hv90    1006 non-null   float64
 5   Hv120   1006 non-null   float64
 6   Hv150   1006 non-null   float64
 7   Hv180   1006 non-null   float64
 8   Phv10   1006 non-null   float64
 9   Phv20   1006 non-null   float64
dtypes: float64(10)
memory usage: 86.5 KB

            IvMean30  IvMean60  IvMean90
Date
2018-12-24    0.4310    0.4112    0.3829
2018-12-26    0.4059    0.3844    0.3587
2018-12-27    0.3918    0.3879    0.3618
2018-12-28    0.3940    0.3736    0.3482
2018-12-31    0.3760    0.3519    0.3310

In [ ]:
# Skipping the Eikon stuff. Have used it before with folks from TRSS
# (note: Used Eikon along with open perm id and open calais. I think Refinitiv may have changed the product names?)
# Eikon does not have a trial version for the app and the api won't run without the desktop app running in the background. Ugh.